*{
    font-family: Arial, sans-serif;
    margin: 0;
}
header{
    height: 180px;
    box-shadow: 0 5px 10px #000;
}
.wrapper {
    max-width: 1127px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}
.left-header{
    display: flex;

}
.phone{
    display: flex;
}
.email{
    display: flex;
    padding-left: 40px;

}
.right-header{
    display: flex;
    flex-direction: row;
}
.first{
    padding-top: 15px;

}
.second{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.text{
    font-size: 15px;
}
.line {
    border-top: 1px solid rgb(189, 187, 187);
    margin: 15px 0 0 0;
}

.img{
    width: 18px;
    height: 18px;
    padding-right: 5px;
}

.log{
    width: 120px;
    height: 100px;
}
nav{
    padding-top: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #000;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul li .dropdown-content li {
    white-space: nowrap;
}

nav ul li .dropdown-content li a {
    padding: 10px 20px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #f0f0f0;
}

nav ul li:hover .dropdown-content {
    display: block;
}
.name h1{
    margin-top: 5px;
    font-size: 64px;
    margin-bottom: 5px;
}
.slogan{
    font-size: 24px;
}

.content{
    height: 800px;
    background: url(../image/gora.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.centr-block {
    position: absolute;
    left: 33%;
    top: 35%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 600px;
    z-index: 9;
}
.centr-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.651);
    z-index: -1; 
}
.c_text a{
text-decoration: none; 
color: #000;
font-size: 20px;
}
.c_text a:hover {
    color: #CD853F;
}
.c_img{
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}
.countries{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}


.testimonials {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}

.testimonials h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.testimonial {
    display: inline-block;
    width: 20%;
    margin: 0 1%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial .title {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 16px;
    color: #555;
}


.footer {
    text-align: center;
}

.footer1 {
    background-color: #2D3F45;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.footer2 {
    background-color: #324950;
    padding: 20px 0 13px 0;
}

.icon1 {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.text52 {
    color: #B9B9B9;
    font-size: 14px;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul li {
    display: inline;
    margin-left: 15px;
}

.footer ul li a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    transition: color .3s;
    text-transform: uppercase;
    margin-left: 30px;
}

.footer ul li a:hover {
    color: #CD853F;
}